@import "tailwindcss";
@font-face {
  font-family: 'CascadiaCode-400';
  src: url('/public/fonts/Cascadia_Code/CascadiaCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ancizar-400';
  src: url('/public/fonts/Ancizar_Sans/AncizarSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-400';
  src: url('/public/fonts/Roboto/Roboto-VariableFont_wdth.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

#typewriter-cursor {
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
        
@theme{
  --color-blue-chido: #aeb8fe;
  --color-blue-medio: #758bfd;
  --color-blue-fuerte: #27187e;
  --color-naranja-bien: #ff8600;
  --color-gris-raro: #f1f2f6;
}



