@import "tailwindcss";
@font-face {
  font-family: 'CascadiaCode-400';
  src: url('/public/fonts/Cascadia_Code/CascadiaCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ancizar-400';
  src: url('/public/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



